[font=Arial][size=2][color=#000000][#=Top][color=#FFFFFF].[/color][/#]

[bg=#262626]

[align=center]
[table=90%,nball,nopad][tr][td][bg=#1c1c1c,100%][center][size=5][color=lightgrey][font=Arial][hr]####{{ title }}####[hr][/font][/color][/size][/center][/bg][/td][/tr][/table][/align][bg=#1c1c1c,90%]

[align=center][table=98%,nopad,nball]
[tr][td] [img=500]{{ preview1 }}[/img] [/td][td] [img=500]{{ preview2 }}[/img][/td][/tr][/table][/align]

[/bg]

[bg=#1c1c1c,90%]
[align=center][img=350]https://hamsterimg.net/images/2018/02/25/DhJP_5Ad.png[/img][/align]
[table=60%,vat,nball][tr][td]
[align=center][color=lightgrey][size=2][font=Arial]
{{ details }}
{% if performers %}
[b]Starring:[/b] {{ performers }}
{% endif %}

[align=center][size=1][bg=#4d4a4a]File Type: {{ file_type }}[/bg][bg=#393939]File Size: {{ file_size }}[/bg][bg=#4d4a4a]Duration: {{ duration }}[/bg][bg=#393939]Resolution: {{ resolution }}[/bg][/size][/align]

[/font][/size][/color][/align][/td][/tr][/table]
[/bg]

[bg=#1c1c1c,90%][align=center]
[img=350]https://hamsterimg.net/images/2018/02/25/zciirfa1.png[/img]

[img=1000]{{ contactsheet }}[/img][/align]
[/bg][align=right][size=2][b][url=#Top][color=lightgrey]To the top[/color][/url][/b][/size][/align][/bg]
